.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a img {
  display: block;
  width: 175px;
}

#navbars li {
  display: inline-block;
}

#navbars li a {
  display: inline-block;
  color: #000;
  font-weight: 500;
  padding: 0px 15px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

#navbars li a:hover {
  color: #ff900e;
}

#social li {
  display: inline-block;
  margin-left: 20px;
}

#social li a {
  display: inline-block;
  font-size: 22px;
  color: #3fd0d4;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.text-blue {
  color: #3fd0d4 !important;
}

#social li a:hover {
  color: #ff900e !important;
}

header {
  padding: 22px 0px;
  box-shadow: 0px 0px 4px -2px rgb(0 0 0 / 60%);
}

.bar {
  width: 30px;
  cursor: pointer;
}

.bar span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #3fd0d4;
  border-radius: 10px;
  margin: 5px 0px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navLink ul li {
    display: block;
  }

  .navLink ul li a {
    padding: 0;
  }

  .navLink ul {
    margin-top: 15px;
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .navLink ul li {
    display: block;
  }

  .navLink ul li a {
    padding: 0;
  }

  .navLink ul {
    margin-top: 15px;
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .navLink ul li {
    display: block;
  }

  .navLink ul li a {
    padding: 0;
  }

  .navLink ul {
    margin-top: 15px;
    display: none;
  }
}
