.tour-heading h3 {
  font-size: 45px;
  font-weight: 600;
}

.tour-heading p {
  color: #727272;
  margin-top: 15px;
}

.tourPlace {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.tour-card {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #f1f5f8;
}

.tour-img-container {
  position: relative;
}

.tour-img-container p {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #88ebf2;
  color: #222;
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0;
}

.tour-info {
  padding: 1.25rem 1.5rem;
}

.tour-title p,
.tour-title h4 {
  margin-bottom: 0.75rem;
  line-height: 1.25;
}

.tour-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.tour-footer p {
  line-height: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #00b1be;
}

.tour-footer {
  margin-top: 15px;
}

.tour-card {
  margin-top: 40px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .tourPlace {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .tour-heading h3 {
    font-size: 35px;
  }

  .tourPlace {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .tour-heading h3 {
    font-size: 35px;
  }

  .tourPlace {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }
}

@media screen and (max-width: 576px) {
  .tour-heading h3 {
    font-size: 35px;
  }

  .tourPlace {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }
}
